.bg-image {
    background-image: url(./assets/black-pic.png);
    height: 900px;
}
/* 
#title {
    display: flex;
    justify-content: center;
    padding: 210px;
    font-size: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;

}

.hide-intro {
    text-align: center;
}

.box {
    background-color:#eaf5ff;
    border-radius: 10px;
    box-shadow: 0 0.5em 1em -0.125em hsl(217, 71%, 53%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #000;
}

.weatherinfo {
    text-align: center;
}

.media {
    justify-content: center
} */

.carousel {
    display: flex;
    height: 30vh;
    /* width: 15vw; */
    width: 400px;
}